body {
  padding: 50px 0;
  background-color: var(--bodyBackground);
  min-height: 100vh;
}
header {
  width: 100%;
  height: 49px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: var(--headerBackground);
}
.header-container {
  padding: 0 20px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
header .logo a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 8px;
}
header .logo a svg:nth-child(1) {
  width: 32px;
  height: 32px;
}
header .logo a svg:nth-child(2) {
  width: 57px;
  height: 18px;
}
header .header-container .search {
  width: 656px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}
header .header-container .search form {
  width: 656px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: var(--field);
  border: 1px solid var(--line);
}
header .header-container .search form:hover {
  border-color: var(--button);
}
header .header-container .search form input {
  width: 594px;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
  font-weight: lighter;
}
header .header-container .search form input::placeholder {
  font-size: 16px;
  font-weight: 300;
  color: var(--placeHolder);
}
header .header-container .search form label {
  width: 44px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--placeHolder);
  font-size: 18px;
}
header .header-container .menu {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-container .menu .btns button {
  width: 120px;
  height: 32px;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 100px;
  padding: 4px 16px;
  margin-right: 10px;
  border: 1px solid var(--button);
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}
header .header-container .menu .btns button:nth-child(1) {
  background-color: #fff;
  color: var(--button);
}
header .header-container .menu .btns button:nth-child(1):hover {
  background-color: #0078d30a;
}
header .header-container .menu .btns button:nth-child(2) {
  background-color: var(--button);
  color: #fff;
}
header .header-container .menu .btns button:nth-child(2):hover {
  background-color: #0078d3e1;
}
header .header-container .menu .menu-items {
  width: 70px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: var(--placeHolder);
  font-size: 18px;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}
header .header-container .menu .menu-items:hover {
  border-color: var(--line);
}

.signup-popup,
.login-popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.signup-popup.active,
.login-popup.active {
  display: flex;
}
.signup-popup .signup-container,
.login-popup .login-container {
  position: relative;
  width: 850px;
  height: 650px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px -1px 11px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px -1px 11px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px -1px 11px 0px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.signup-popup .signup-container .signup-img,
.login-popup .login-container .login-img {
  width: 130px;
  height: 100%;
  background: url("https://www.redditstatic.com/accountmanager/bbb584033aa89e39bad69436c504c9bd.png");
  background-size: cover;
}
.signup-popup .signup-container .signup-content,
.login-popup .login-container .login-content {
  height: 100%;
  /* padding: 24px; */
  margin-left: 24px;
  display: flex;
  width: 280px;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
}
.signup-popup .signup-container .signup-content .signup-header h3,
.login-popup .login-container .login-content .login-header h3 {
  font-weight: 500;
}
.signup-popup .signup-container .signup-content .signup-header p,
.login-popup .login-container .login-content .login-header p {
  margin-top: 1rem;
  font-size: 12px;
  padding-right: 20px;
}
.signup-popup .signup-container .signup-content .signup-sochial,
.login-popup .login-container .login-content .login-sochial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}
.signup-popup .signup-container .signup-content .signup-sochial svg,
.login-popup .login-container .login-content .login-sochial svg {
  width: 18px;
  position: absolute;
  left: 7px;
}
.signup-popup .signup-container .signup-content .signup-sochial a,
.login-popup .login-container .login-content .login-sochial a {
  width: 100%;
  height: 42px;
  position: relative;
  border-radius: 100px;
  border: 2px solid var(--line);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 7px;
  text-decoration: none;
  color: var(--postHeader);
  transition: all 0.2s ease;
}

.signup-popup .signup-container .signup-content .signup-sochial a:hover,
.login-popup .login-container .login-content .login-sochial a:hover {
  background-color: #338fff11;
}
.signup-popup .signup-container .signup-content .divider,
.login-popup .login-container .login-content .divider {
  width: 100%;
  border-bottom: 2px solid var(--line);
  position: relative;
}
.signup-popup .signup-container .signup-content .divider span,
.login-popup .login-container .login-content .divider span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 5px;
  color: var(--placeHolder);
  font-weight: 500;
}
.login-body,
.signup-body {
  width: 100%;
}
.signup-popup .signup-container .signup-content .signup-body form input,
.login-popup .login-container .login-content .login-body form input {
  width: 100%;
  height: 48px;
  background-color: #fcfcfb;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 0 10px;
}
.signup-popup .signup-container .signup-content .signup-body form input:focus,
.login-popup .login-container .login-content .login-body form input:focus {
  border-color: var(--button);
}
.signup-popup .signup-container .signup-content .signup-body form button,
.login-popup .login-container .login-content .login-body form button {
  width: 100%;
  height: 42px;
  background-color: var(--button);
  border: none;
  color: #fff;
  outline: none;
  border-radius: 100px;
  padding: 0 10px;
  margin-top: 5px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.signup-popup .signup-container .signup-content .login-check,
.login-popup .login-container .login-content .login-check {
  font-size: 12px;
}
.signup-popup .signup-container .signup-content .login-check a,
.login-popup .login-container .login-content .login-check a {
  font-size: 14px;
  text-decoration: none;
  color: var(--button);
  font-weight: 600;
}

.signup-close,
.login-close {
  position: absolute;
  right: 15px;
  top: 10px;
  color: var(--span);
  font-size: 30px;
  cursor: pointer;
  z-index: 999999;
}
input.danger {
  border-color: red !important;
  color: red !important;
}
.input-box {
  margin: 10px 0;
}
.input-box span {
  color: red;
  font-size: 14px;
  padding: 0 5px;
}
button#advertise {
  background-color: #eee;
  border: none;
  color: #000;
  font-size: 14px;
  font-weight: 400;
}
button#shop-avatars {
  background-color: #ff3cac;
  background-image: linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );

  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}
#loggedUser .menu-items {
  position: relative;
  width: 200px;
  height: 95%;
}
#loggedUser .menu-items .user-img img {
  width: 32px;
}
#loggedUser .menu-items .user-data {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
#loggedUser .menu-items .user-data {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1px;
  flex-direction: column;
  font-size: 12px;
  padding-right: 25px;
}
#loggedUser .menu-items .user-data .user_name {
  font-weight: 600;
  color: var(--postHeader);
}

#loggedUser .menu-items .user-data .karma i {
  color: var(--secColor);
}
.loggedUser-actions {
  width: 200px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  font-weight: 300;
  color: #555;
}
.logout-menu {
  position: absolute;
  left: 0;
  background-color: var(--headerBackground);
  width: 100%;
  height: 80px;
  bottom: -80px;
  z-index: 99;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  flex-direction: column;
  display: none;
}
.logout-menu.active {
  display: flex;
}
.logout-menu a:hover {
  background-color: var(--field);
}

.logout-menu a {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
  text-decoration: none;
  color: var(--postHeader);
  transition: all 0.4s ease;
  font-size: 16px;
}

main {
  width: 100%;
  height: 100%;
}
.main-container {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
}
.main-container .trending {
  width: 100%;
  height: 220px;
  display: none;
}
.main-container .trending.active {
  width: 100%;
  height: 220px;
  display: block;
}
.main-container h3 {
  color: var(--postHeader);
  font-size: 15px;
  font-weight: 500;
}
.main-container .trending .trending-posts {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.main-container .trending .trending-posts .t-post {
  width: 238px;
  height: 180px;
  border-radius: 8px;
  color: #fff;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.main-container .trending .trending-posts .t-post .t-post-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  padding: 1rem;
  align-items: flex-end;
  background-color: rgba(0, 0, 0, 0.4);
}
.main-container .main-body {
  padding-top: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 2rem;
  padding-top: 2.8rem;
}
.main-container .main-body .popular {
  flex: 2;
}
.main-container .main-body .side {
  background-color: #fff;
  border: 1px solid #ccc;
  height: 600px;
  flex: 1;
  border-radius: 4px;
}
.main-container .main-body .popular .popular-body {
}
.main-container .main-body .popular .popular-body .p-header {
  width: 100%;
  height: 60px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.p-header a {
  text-decoration: none;
  color: var(--placeHolder);
  font-weight: 700;
  margin-left: 20px;
  padding: 5px 10px;
  border-radius: 100px;
}
.p-header a:nth-child(1),
.p-header a:nth-child(2) {
  background-color: var(--field);
  color: var(--button);
}
.p-header a i {
  font-size: 18px;
  margin-right: 5px;
}
.main-container .main-body .popular .popular-body .p-posts {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.5rem;
}
.main-container .main-body .popular .popular-body .p-posts .p-post {
  width: 100%;
  max-height: 600px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #fff;
  position: relative;
  padding-left: 45px;
  overflow: hidden;
}
.score {
  padding-top: 10px;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 42px;
  background-color: var(--field);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
}
.score i {
  font-size: 30px;
  cursor: pointer;
  color: var(--span);
}
.p-post .post-content {
  padding: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: flex-start;
  flex-direction: column;
}
.p-post .post-content .p-post-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
  color: var(--placeHolder);
  font-size: 14px;
  font-weight: 600;
  padding-left: 5px;
  width: 100%;
  height: 40px;
}
.p-post .post-content .p-post-footer div {
  cursor: pointer;
}
.p-post .post-content .p-post-footer div i {
  font-size: 18px;
}
.p-post-header {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  align-items: center;
  font-size: 14px;
}
.p-post-header .post-owner {
  display: flex;
  gap: 4px;
  font-weight: 600;
  align-items: center;
}
.p-post-header .post-date {
  color: var(--placeHolder);
  text-transform: capitalize;
}
.p-post-header .post-owner img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.p-post .join {
  position: absolute;
  top: 8px;
  font-size: 14px;
  font-weight: 700;
  right: 10px;
  background-color: var(--button);
  color: #fff;
  padding: 3px 15px;
  cursor: pointer;
  border-radius: 100px;
}
.up i.active,
.down i.active {
  color: var(--secColor);
}
.add-post {
  padding: 0 10px;
  justify-content: space-between !important;
  align-items: center !important;
  display: none !important;
}
.add-post.active {
  display: flex !important;
}
.add-post input {
  height: 38px;
  width: 75%;
  padding: 0px 1rem;
  border: 1px solid var(--line);
  color: var(--placeHolder);
  background-color: var(--field);
  outline: none;
  border-radius: 4px;
}
.add-post .add-post-icons i {
  font-size: 18px;
  color: var(--placeHolder);
  margin: 0 5px;
  cursor: pointer;
}
input:focus,
textarea:focus,
input:hover,
textarea:hover {
  border: 1px solid var(--button);
}
.add-post .add-post-img img {
  width: 50px;
  transform: translateY(-5px);
}
