.profile-container {
  width: 70%;
  height: 90vh;
  padding-top: 50px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.profile-container .create-post {
  height: 100%;
  flex: 2;
}
.profile-container .prev-posts {
  /* background-color: #fff; */
  width: 100%;
  margin-top: 2rem;
  height: fit-content;
  overflow: hidden;
  padding-bottom: 20px;
}
.prev-posts span.prev {
  width: 100%;
  height: 100px;
  font-size: 20px;
  color: var(--placeHolder);
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.p-post {
  border-radius: 4px;
  margin-bottom: 1rem;
  background-color: #fff;
  border: 1px solid var(--line);
  padding: 1rem !important;
  position: relative;
}

.profile-container .create-post h2 {
  font-size: 18px;
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid #fff;
  font-weight: 400;
}
.profile-container .create-post .create-post-body {
  margin-top: 20px;
  width: 100%;
  height: 80%;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid var(--line);
}
.profile-container .create-post .create-post-body form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
}
.profile-container .create-post .create-post-body form input {
  height: 55px;
  width: 100%;
  padding: 0px 1rem;
  border: 1px solid var(--line);
  color: var(--placeHolder);
  background-color: var(--field);
  outline: none;
  border-radius: 4px;
}
.profile-container .create-post .create-post-body form textarea {
  height: 100%;
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--line);
  color: var(--placeHolder);
  background-color: var(--field);
  outline: none;
  border-radius: 4px;
  resize: none;
}
.profile-container .create-post .create-post-body form button {
  width: 100px;
  padding: 10px 0;
  align-self: flex-end;
  outline: none;
  border: none;
  background-color: var(--button);
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
}
.profile-container .create-post .create-post-body form input:focus,
.profile-container .create-post .create-post-body form input:hover {
  border: 1px solid var(--button);
}
.profile-container .create-post .create-post-body form textarea:focus,
.profile-container .create-post .create-post-body form input:focus,
.profile-container .create-post .create-post-body form textarea:hover,
.profile-container .create-post .create-post-body form input:hover {
  border: 1px solid var(--button);
}
.profile-container .rules {
  height: 300px;
  align-self: flex-start;
  flex: 0.9;
  background-color: #fff;
  border-radius: 4px;
}
.profile-container .rules h2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  padding: 10px;
  font-size: 17px;
  font-weight: 500;
  width: 90%;
  margin: 0 auto;
  border-bottom: 1px solid var(--line);
}
.profile-container .rules ol {
  list-style-position: inside;
  padding: 15px;
  font-size: 15px;
  font-weight: 500;
}
.profile-container .rules ol li {
  padding: 10px 0;
  padding-left: 5px;
  border-bottom: 1px solid var(--line);
}

.loading {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 999999;
  line-height: 1.4;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loading.active {
  display: flex;
}
.loading div {
  background-color: #fff;
  width: 400px;
  height: 400px;
  border: 2px solid var(--line);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.4);
}
.loadWords {
  font-weight: normal;
  font-size: 26px;
  color: var(--placeHolder);
  margin: 0.6rem 0 2rem 0;
  display: block;
}

.loading__anim {
  width: 55px;
  height: 55px;
  border: 5px solid rgba(189, 189, 189, 0.25);
  border-left-color: rgba(3, 155, 229, 1);
  border-top-color: rgba(3, 155, 229, 1);
  border-radius: 50%;
  display: inline-block;
  animation: rotate 600ms infinite linear;
}

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}
